body {
    background: linear-gradient(#c1effa, #9198e5);
    height: 600px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
}

.even-cols{
    display: flex;
    /* background-color: blue; */
}

.even-cols > * {
    flex-basis: 100%;
    /* background-color: #ff0000; */
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

img {
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: auto;
}

img:hover {
    transform: scale(1.05);
    border-radius: 10px;
}

.col.recipe {
    padding: 0;
    text-align: center;
}