html {
    min-height: 100%;
    position: relative;
}

header {
    position: fixed;
}

body {
    background: linear-gradient(#c1effa, #aab8e7);
    /* height: 600px; */
    /* height: 1000px; */
    /* height: fit-content; */
    height: auto;
}

.contents {
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    padding: 0 15px;
    box-shadow: 5px 10px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
}

.even-cols{
    display: flex;
}

.even-cols > * {
    flex-basis: 100%;
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

img {
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: auto;
}

#recipe-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-zoom:hover {
    transform: scale(1.05);
    border-radius: 10px;
}

.col.recipe {
    padding: 0;
    text-align: center;
}